@import "../../global.scss";
.works {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 80vh;

  .arrow {
    height: 60px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 150px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 150px;
    }
  }

  .slider {
    height: 650px;
    display: flex;
    position: absolute;
    left: 0;

    transition: all 1s ease-in-out;

    @include mobile {
      height: 80vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .container {
      width: 100vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        width: 50vw;
        height: 19vw;
        background-color: white;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 90%;
        }

        .left {
          flex: 4;
          height: 80%;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 185, 164);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }

            h2 {
              font-size: 1vw;
              @include mobile {
                font-size: 10px;
              }
            }
            p {
              font-size: 0.6vw;
              text-align: center;
              @include mobile {
                font-size: 10px;
              }
            }
            span {
              font-size: 0.6vw;
              font-weight: 600;
              text-decoration: underline;

              cursor: pointer;
              @include mobile {
                font-size: 10px;
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 600px;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
}
