@import "global.scss";
.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scrollbar-width: none; //firefox only
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
      @include mobile {
        scroll-snap-align: none;
      }
    }
  }
}
