$mainColor: #390f7e;

$breakPointWidth: 1000px;
$breakPointMinWidth: 1600px;
@mixin mobile {
  @media (max-width: #{$breakPointWidth}) {
    @content;
  }
}
@mixin big {
  @media (min-width: #{$breakPointMinWidth}) {
    @content;
  }
}
